@use 'lib' as *;

.promo {
    $self: &;

    overflow: hidden;
    padding-bottom: 40px;

    &__container {
        position: relative;
    }

    &__swiper.swiper {
        border-radius: 20px;

        @include media("<=xs") {
            border-radius: 10px;
        }
    }

    &__slide.swiper-slide {
        overflow: hidden;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media("<=xs") {
            border-radius: 10px;
        }
    }

}