<footer class="footer"> 
    <div class="footer__container container">
        <div class="footer__top">
            <div class="footer__column">
                <h4 class="footer__column-title">Услуги</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Имплантология</a></li>
                    <li class="footer__list-item"><a href="#">Протезирование</a></li>
                    <li class="footer__list-item"><a href="#">Лечение зубов</a></li>
                    <li class="footer__list-item"><a href="#">Отбеливание ZOOM 4</a></li>
                    <li class="footer__list-item"><a href="#">Диагностика</a></li>
                    <li class="footer__list-item"><a href="#">Бесплатная консультация</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">О клинике</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">О клинике</a></li>
                    <li class="footer__list-item"><a href="#">Врачи</a></li>
                    <li class="footer__list-item"><a href="#">Персонал клиники</a></li>
                    <li class="footer__list-item"><a href="#">Портфолио</a></li>
                    <li class="footer__list-item"><a href="#">Лицензии</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">Статьи</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Полезно знать</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">Записаться</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Заказать звонок</a></li>
                </ul>
            </div>
            <div class="footer__column footer__column_contacts">
                <a href="#" class="footer__contact">+7(495)921-66-52</a>
                <a href="#" class="footer__contact">8001403@mail.ru</a>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Лицензии</a></li>
                    <li class="footer__list-item"><a href="#">Дипломы и благодарности</a></li>
                    <li class="footer__list-item"><a href="#">Карта сайта</a></li>
                    <li class="footer__list-item"><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p>©2001 - 2022г. «Kornident.ru» ООО "Стоматолог-М" Все права защищены..</p>
        </div>
    </div>
</footer> 

<!-- @@include("_sprite.svg") -->
<script src="common.js?v=0"></script> 
</body> 
</html>