<header class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <p class="header__address">
                <b>м.Менделеевская</b>
                г. Москва , Сущевская д.27/2
            </p>
            <p class="header__work-time header__breakpoint-hidden">
                Часы работы с 8:00 до 22:00
                <b>ЕЖЕДНЕВНО</b>
            </p>
            <button type="button" aria-label="Заказать звонок" class="header__button-callback header__breakpoint-hidden">Заказать звонок</button>
            <a href="#" class="header__email header__breakpoint-hidden">email: 8001403@mail.com </a>
            <button type="button" aria-label="Запись на прием" class="header__button btn btn-red header__breakpoint-hidden">Запись на прием</button>
        </div>
    </div>
    <div class="header__main">
        <div class="header__main-container container">
            <button type="button" aria-label="Открыть меню" class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#" class="header__logo">
                <img loading="lazy" alt="image" src="./images/logo.webp">
            </a>
            <div class="header__menu">
                <ul class="header__list">
                    <li class="header__list-item header__list-item_menu">
                        Услуги
                        <ul class="header__item-menu">
                            <li><a href="#">Услуга 1</a></li>
                            <li><a href="#">Услуга 2</a></li>
                            <li><a href="#">Услуга 3</a></li>
                        </ul>
                    </li>
                    <li class="header__list-item"><a href="#">Цены</a></li>
                    <li class="header__list-item"><a href="#">Акции</a></li>
                    <li class="header__list-item"><a href="#">Полезно знать</a></li>
                    <li class="header__list-item"><a href="#">Врачи</a></li>
                    <li class="header__list-item"><a href="#">Портфолио</a></li>
                    <li class="header__list-item header__list-item_menu">
                        О компании
                        <ul class="header__item-menu">
                            <li><a href="#">О компании 1</a></li>
                            <li><a href="#">О компании 2</a></li>
                            <li><a href="#">О компании 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="#" class="header__tel">
                <span>+7 (495) 921-66-52</span>
                <img loading="lazy" alt="image" src="./images/icons-images/tel.webp">
            </a>
        </div>
    </div>
</header>