@use 'lib' as *;

.services {
	$self: &;

    padding-bottom: fluid(85px, 25px);

	&__container {

	}

    &__title {
        margin-bottom: fluid(50px, 35px);
    }

    &__card {
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 25px;
        border-radius: 10px;
        min-height: 139px;
        transition: background-color var(--trans);

        &:hover {
            background-color: #49C1CD;
        }
    }

    &__card-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        &::before {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 30px; height: 30px;
            background: url('./images/icons-images/arrow-up.svg') no-repeat center / contain;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;

        @include media("<=md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px 20px;
        }

        @include media("<=sm") {
            grid-template-columns: 100%;
        }
    }

}
